@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}




.text-icon {
  @apply !text-[1.1rem];
}

/* .ant-input {
  @apply focus:!outline-2 focus:!border-0;
} */

@theme inline {
}

@utility flex-center {
  @apply flex justify-center items-center;
}

.auth-container {
  @apply h-screen flex-center;

  .auth-body {
    @apply p-4 lg:p-8 rounded-2xl w-[80%] md:w-[50%] lg:w-[35%] mx-auto;
  }

  h2 {
    @apply text-xl font-semibold lg:text-2xl;
  }
}
